{% extends 'base.html'%}

{% block content %}

  <h1 class="text-center">Available Items!</h1>
  {% for item in cart %}
      <a class="card mx-auto text-decoration-none text-dark" style="width: 18rem;" href="/posts/{{post.id}}">
          <img src="{{ post.img_url }}" class="card-img-top" alt="{{ post.title }}">
          <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{ post.caption }}</p>
              <p class="font-weight-light" style="font-weight: 100; font-style: italic;">- {{ post.author.username }}</p>
            </div>
      </a>
  {% endfor %}
  
{% endblock %}